<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <!-- .NET 6.0 için runtime ayarları -->
        <!-- DevExpress 22.1 .NET 6.0 ile tam uyumlu değil -->
        <AppContextSwitchOverrides value="Switch.System.Drawing.EnableUnixSupport=false" />
    </runtime>
</configuration>

