<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ERPConnection" 
             connectionString="Data Source=localhost\SQLEXPRESS;Persist Security Info=True;User ID=master_admin;Password=Sifir*571;Initial Catalog=master;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;Packet Size=4096;Command Timeout=0;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <runtime>
        <!-- .NET 6.0 için runtime ayarları -->
        <!-- DevExpress 22.1 .NET 6.0 ile tam uyumlu değil -->
        <AppContextSwitchOverrides value="Switch.System.Drawing.EnableUnixSupport=false" />
    </runtime>
</configuration>

